name: Build Self Contained
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Restore
        run: dotnet restore enviro.slnx
      - name: Build
        run: dotnet build enviro.slnx --configuration Release --no-restore
      - name: Publish
        run: dotnet publish enviro.slnx --configuration Release --output ./publish/win-x64 --runtime win-x64 --self-contained true /p:PublishSingleFile=true
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: win-x64
          path: ./publish/win-x64