name: Build Framework-Dependent
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore enviro.sln
      - name: Build
        run: dotnet build enviro.sln --configuration Release --no-restore
      - name: Publish
        run: dotnet publish enviro.sln --configuration Release --output ./publish/win-x64-fd --runtime win-x64 --self-contained false /p:PublishSingleFile=true
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: win-x64-fd
          path: ./publish/win-x64-fd